name: CI Pipeline

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Create dist directory
        run: |
          mkdir -p dist
          echo "Hello GitHub Pages" > dist/index.html
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/
